<div class="total">
	<strong>Total = {{cart.total}} €</strong> <md-button class="md-raised md-warn" ng-click="addAllToCart()">Ajouter toute ma sélection au panier</md-button>
</div>
<div class="description" ng-repeat="pizza in pizzas">
	<span class="name">{{pizza.name}}</span> <span class="prix">Prix = {{pizza.price}} €</span></br>
	Ingredient : 
	<span class="ingredient" ng-repeat="ingredients in pizza.ingredients">
	{{ingredients}}
	</span><br/>
	<span  class="pate">
	    <select ng-model="typePate" ng-options="type.name for type in types">
	      <option value="">-- Type de pâte --</option>
	    </select>
  	</span>
  	<span  class="nbpers">
	    <select ng-model="nbPers" ng-options="personne.nb for personne in nbpersonnes">
	      <option value="">-- Nombre de personnes --</option>
	    </select>
  	</span>
  	<md-button class="md-raised md-warn">Modifier</md-button>
  	<md-button class="md-raised md-warn" ng-click="addToCart(pizza)">Ajouter au panier</md-button>
</div>